/* #variables */
:root {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  /* text colors */
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-dark-gray: hsl(0, 0%, 20%);

  /* bg colors */
  --body-bg-color: hsl(var(--hue), 60%, 94%);
  --bg-color: hsl(var(--hue), 60%, 96%);
  --bg-white: hsl(0, 0%, 100%);

  /*border color */
  --border-color: hsl(var(--hue), 48%, 80%);

  /* shadow */
  --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
  --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);

  /* font size */
  --fs-4xl: 50px;
  --fs-3xl: 35px;
  --fs-2xl: 26px;
  --fs-xl: 20px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
}

.services {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fs-md);
  line-height: 2.9;
  color: var(--text-dark-gray);
  background-color: var(--body-bg-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-image: url(../Images/b.4.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 1;
}
/* #container */
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
/* #grid */
.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 80px;
}
@media screen and (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 30px;
  }
}
/* #page wrapper */
.page-wrapper {
  overflow: scroll;
}
.section-padding {
  padding: 60px 0;
}
.services-item {
  grid-column: span 3;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .services-item {
    grid-column: span 10;
    text-align: center;
  }
}
.services-item .img-box {
  height: 140px;
  width: 140px;
  /* border-radius: 50%; */
  margin: 0 auto 20px;
  /* box-shadow: var(--shadow);
  background-color: var(--bg-color); */
  padding: 8px;
  /* overflow: hidden; */
}
.services-item .img-box img {
  border-radius: 60%;
  transition: transform 0.5s ease;
}
.services-item:hover .img-box img {
  transform: scale(1.5);
}
.services-item h3 {
  text-transform: capitalize;
  font-size: var(--fs-xl);
  font-weight: 500;
}
/* .back-image {
  background-image: url(../Images/b.1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
